<img id='button' src="/img/home.png">
<img id='button2' src="/img/home.png">
<a href="/weather">
<img id='button3' src="/img/home.png">
</a>
<img id='button4' src="/img/home.png">
<div id="menu"></div>
		<script>
			$(document).ready(function(){
				var k = 1;
					$('#button').click(function() {
						if (k % 2 == 1) {
							$('#menu').animate({
								width: '200',
								height: '200',
							}, 	500);
							setTimeout(function() {
							$('#button2').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 0.6});	
							$('#button3').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 0.6});
							$('#button4').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 0.6});
						}, 500);

		
						}
					 	if (k % 2 == 0) {
							$('#button2').css({opacity: 0.6, visibility: "visible"}).animate({opacity: 0}, 500);
							$('#button3').css({opacity: 0.6, visibility: "visible"}).animate({opacity: 0}, 500);
							$('#button4').css({opacity: 0.6, visibility: "visible"}).animate({opacity: 0}, 500);
							setTimeout(function() {
							$('#menu').animate({
								width: '50',
								height: '50'
							}, 	500);
						}, 500);

		

						}
					k++;


			});			
					
			});

		</script>

		<script>
			$(document).ready(function(){
				var i = 1;
					$('#button2').click(function() {
						if (i % 2 == 1) {
							$('#weather').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0});	
						}
					 	if (i % 2 == 0) {
							$('#weather').css({opacity: 1.0, visibility: "visible"}).animate({opacity: 0}, 500);
						}
					i++;

			});	
				});
		</script>


<h2>The new</h2>
		<h1>iPad</h1>
		<div id="elem">
		<img src="/img/ipad.png" width="100%">
		</div>
			 <div id="elem">
    <img src="/img/ipad.png" width="100%">
    </div>
<script>
	$(document).ready(function(){
          $('#elem').fadeIn(3000);
          });
</script>


<img id="pencil" src="/img/pencil.png"  width="4%">
<script>
					var i = 1;
			$("#elem").mouseenter(function() {

				if (i < 2) { 

    $(document).ready(function(){

      var start = Date.now(); 

      var timer = setInterval(function() {

        var timePassed = Date.now() - start;

        pencil.style.right = timePassed / 6 + 'px';

        if (timePassed > 2000) clearInterval(timer);

      }, 20);
    });

			i++;
		};
});
</script>


		<h3 id="text2"> Like a computer. Unlike any computer.</h3>
		<p>
If the computer were invented today, what would it look like? It would be powerful enough for any task. So mobile you could take it everywhere. And so intuitive you could use it any way you wanted — with touch, a keyboard, or even a pencil.1 In other words, it wouldn’t really be a “computer.” It would be the new iPad.</p>

		<h4 id="cost">Starting at $329</h4>
			<script>

	$('#text2').mouseenter(function() {
			$('#cost').fadeIn(1000);
	});

	</script>
				<h5>Power for what you do today. And what you’ll discover tomorrow.</h5>
		<img src="/img/ipad2.png" width="100%" height="100%">
		<h6>A10 Fusion chip. Engineered for performance.</h6>
		<p>64-bit architecture. Four-core design. Over 3.3 billion transistors. Translation: iPad is incredibly fast. Which comes in handy when you want to edit a 4K video, play graphics-intensive games, or experience the latest augmented reality apps.</p>
			<div class="prepage1"> 
				<p>Apple GiveBack</p>
				<div id="text">Turn your current iPad into credit for a new one.</div>
				<div id="link"><a href="www.google.com">See how it works</a></div>
				<div id="image"><img src="/img/ipad3.png" width="25%"></div>
			</div>
			<div class="prepage2"> 
				<p>Compare</p>
				<div id="text">Find the iPad that’s right</div>
				<div id="text">for you.</div>
				<div id="link"> <a href="www.google.com">Compare iPad models</a></div>
				<div id="image"><img src="/img/ipad4.png" width="25%"></div>

			</div>
			<div id="weather"> 
{{> weather}}
</div>